/* Estilos para o input */
input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para os itens da lista */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-weight: bold;
}

/* Cores para os estados válidos e inválidos */
.valid {
    color: green;
}

.invalid {
    color: red;
}

/* Estilos para as mensagens de validação */
.valid-message {
    color: green;
    font-weight: bold;
}

.invalid-message {
    color: red;
    font-weight: bold;
}